@model UI.Models.PageModel

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Velkommen til FKTV</title>
</head>
<body onload="window.print()">
    @Model
</body>
</html>